Workflows/Workflow Ingestão Bronze.json
{
  "name": "Workflow Ingestão Bronze",
  "nodes": [
    {
      "parameters": {
        "url": "http://api:3000/v1/enrichments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "3a1b966b-e422-46c7-97f0-098284053dbe",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zZs2qDEsTsaNbZA2",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "52442aa3-079b-48be-9f3a-132d12ac2db7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bronze_enrichments",
          "mode": "list",
          "cachedResultName": "bronze_enrichments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "raw_data": "={{ $json }}",
            "dw_updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_data",
              "displayName": "raw_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "dw_ingested_at",
              "displayName": "dw_ingested_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "dw_updated_at",
              "displayName": "dw_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "15d80308-d614-482b-b34d-43106bfaa29b",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "mq0CV2VySgH4cUCb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Descobrir quantas páginas existem (vem do meta da API)\nconst totalPages = items[0].json.meta.total_pages; \nconst paginas = [];\n\n// 2. Criar uma \"ficha\" para cada página (Ex: 1, 2, 3... 100)\nfor (let i = 1; i <= totalPages; i++) {\n  paginas.push({\n    json: {\n      numero_da_pagina: i\n    }\n  });\n}\n\n// 3. Retornar essa lista para o n8n processar uma por uma\nreturn paginas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "eb186aeb-f3ea-418c-aaa9-bebac5d2cfff",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "http://api:3000/v1/enrichments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "page",
              "value": "={{ $json.numero_da_pagina }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "1d1a4edf-1ed5-4458-b6ed-029b77a788b5",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zZs2qDEsTsaNbZA2",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "2ade4da9-30e6-49c1-a71f-b7d72403d5f0",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "73aba505-1562-43aa-8430-e94feb87e5ca",
  "meta": {
    "instanceId": "b9e998059bea9beb6a0df031d9e07d648a2c64904f1deb0ef635f24f3d4ee8e4"
  },
  "id": "abzMZaqe3IZl_A6BEvF7W",
  "tags": []
}